.Charts {

    >div {
      display: flex;
      justify-content: flex-end;
        margin: 1rem 0;
        position: relative;
        .Icons{
          display: flex;
        }
      
  
  
    }
  }